body {
    margin: 0;
}

.top-image {

    background-image: url(images/picture1.jpg);
    padding: 200px;

    background-repeat: no-repeat;
}

.top-headings {
    text-align: center;
}

.top-headings h1 {
    font-size: 150px;
    text-align: center;
    color: whitesmoke;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.top-headings h2 {
    font-size: 80px;
    text-align: center;
    color: whitesmoke;
    margin: 0;
}

.top-headings h3 {
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0 400px;
    background-color: rgb(201, 201, 68);
    padding: 15px;
    border-radius: 10px;
}

.top-headings p {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
    margin: 0 200px 50px 200px;
    padding: 100px;

}

.top-headings a {

    background-color: rgb(202, 192, 47);
    padding: 10px 30px;
    border-radius: 15px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 40px;


}

.second-part {
    color: gray;
    font-family: 'Poppins', sans-serif;
    margin: 30px 100px;
    text-align: center;
}

.second-part h2 {
    font-size: 50px;
}

.amount {
    display: flex;
    margin-left: 20%;
    margin-right:20%;
    margin-bottom: 20px;
}

.amount h3 {
    font-weight: bold;
    padding: 50px;
    border: 2px solid rgb(242, 239, 239);
    border-radius: 5px;
    margin-right: 5%;
    background-color: rgb(242, 239, 239);
}


#color {
    border: 3px solid tomato;
    background-color: rgb(249, 165, 155);
}

.other  {
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20px;
    color: grey;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    border-bottom: 1px solid grey;
    
}

.btn-new {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    margin-left: 47%;
    margin-right: 47%;
    border-radius: 6px;
    border: none;

}

.third-section {
    display: flex;
    margin: 60px 90px 50px 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.family {

    margin: 20px;
    padding: 20px;
    background-color: rgb(247, 207, 199);
}

.middle h2 {
    text-align: center;
    font-size: 50px;
    color: black;

}

.middle p {
    text-align: center;
    color: grey;
}


.bg1 {
    background-color: rgb(227, 228, 165);
}

.bg2 {
    background-color: rgb(136, 197, 221);
}

.bg3 {

    background-color: rgb(199, 174, 177);
}

footer {



    text-align: center;

    background-color: black;
    color: rgb(238, 234, 229);

    padding: 30px 300px;

}

#one {
    font-size: 40px;
    color: rgb(241, 59, 13);
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin-bottom: 0%;
}

.update-part h2 {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: black;
}

.update-part {
    text-align: center;
    color: grey;
    font-weight: 900;
}

.email-section {
    text-align: center;
    background-color: #fff4d6;
    margin: 50px 250px;
    border-radius: 10px;
    padding: 40px 250px;
    margin-bottom: 100px;
}

.email {
    padding: 10px 20px;
    background-color: rgb(221, 217, 217);
    border: none;
}

.submit-button {
    padding: 10px 15px;
    background-color: tomato;
    border: none;
    color: white;

}

.floods-section {
    display: flex;
    width: 100%;
    margin: 30px;
}

.sylhet-floods {
    width: 50%;
    margin: 70px 0 70px 70px;
    padding: 60px;
    text-align: justify;

}

.sylhet-floods h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.sylhet-floods p {
    font-weight: 100;
    color: gray;
}

.sylhet-floods a {
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    background-color: tomato;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.sylhet-floods2 {

    margin: 30px 50px 30px 0;
    padding: 100px;
}

.sylhet-floods2 img {
    border-radius: 10px;
    width: 80%;
}